openapi: 3.1.0
info:
  title: Toornament Disciplines Stages API
  description: The Toornament API v2 provides comprehensive esports tournament management capabilities. It includes the Organizer API for full tournament CRUD operations, the Viewer API for public read-only tournament data access, and the Participant API for registration and check-in management. Authentication uses API key plus OAuth2 access tokens with scoped permissions.
  version: '2.0'
  contact:
    name: Toornament Developer
    url: https://developer.toornament.com
  termsOfService: https://www.toornament.com/en_US/legal
servers:
- url: https://api.toornament.com/organizer/v2
  description: Organizer API — full tournament management (authenticated)
- url: https://api.toornament.com/viewer/v2
  description: Viewer API — public read-only tournament access
security:
- apiKey: []
- oauth2: []
tags:
- name: Stages
  description: Manage tournament stages and brackets.
paths:
  /tournaments/{tournament_id}/stages:
    get:
      operationId: listStages
      summary: List Stages
      description: Retrieve all stages defined for a tournament (e.g., group stage, bracket stage).
      tags:
      - Stages
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Api-Key
        in: header
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of stages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stage'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed — missing or invalid API key/token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Error message.
        code:
          type: string
          description: Error code.
    Stage:
      type: object
      properties:
        id:
          type: string
          description: Unique stage identifier.
        tournament_id:
          type: string
        number:
          type: integer
          description: Stage number in the tournament flow.
        name:
          type: string
          description: Stage name (e.g., Group Stage, Quarterfinals).
        type:
          type: string
          description: Stage type (e.g., groups, single_elimination, double_elimination).
        size:
          type: integer
          description: Number of participants in this stage.
        status:
          type: string
          enum:
          - pending
          - running
          - completed
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key obtained from the Toornament developer dashboard.
    oauth2:
      type: oauth2
      description: OAuth2 access token with scoped permissions (organizer:view, organizer:admin).
      flows:
        authorizationCode:
          authorizationUrl: https://app.toornament.com/oauth/authorize
          tokenUrl: https://api.toornament.com/oauth/v2/token
          scopes:
            organizer:view: Read access to organizer tournament data.
            organizer:admin: Full administrative access to tournament management.
            participant:manage: Manage participant registrations.
