openapi: 3.1.0
info:
  title: Toornament Disciplines Rankings API
  description: The Toornament API v2 provides comprehensive esports tournament management capabilities. It includes the Organizer API for full tournament CRUD operations, the Viewer API for public read-only tournament data access, and the Participant API for registration and check-in management. Authentication uses API key plus OAuth2 access tokens with scoped permissions.
  version: '2.0'
  contact:
    name: Toornament Developer
    url: https://developer.toornament.com
  termsOfService: https://www.toornament.com/en_US/legal
servers:
- url: https://api.toornament.com/organizer/v2
  description: Organizer API — full tournament management (authenticated)
- url: https://api.toornament.com/viewer/v2
  description: Viewer API — public read-only tournament access
security:
- apiKey: []
- oauth2: []
tags:
- name: Rankings
  description: Retrieve tournament rankings and standings.
paths:
  /tournaments/{tournament_id}/stages/{stage_id}/ranking-items:
    get:
      operationId: listRankingItems
      summary: List Ranking Items
      description: Retrieve the ranking items (standings) for a specific tournament stage.
      tags:
      - Rankings
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
      - name: stage_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Api-Key
        in: header
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ranking items for the stage.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RankingItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Participant:
      type: object
      properties:
        id:
          type: string
          description: Unique participant identifier.
        tournament_id:
          type: string
        name:
          type: string
          description: Participant name (player username or team name).
        type:
          type: string
          enum:
          - team
          - player
        email:
          type: string
          format: email
        checked_in:
          type: boolean
          description: Whether the participant has checked in.
        lineup:
          type: array
          items:
            type: object
            properties:
              username:
                type: string
              name:
                type: string
          description: Team lineup for team tournaments.
        custom_fields:
          type: object
          description: Custom registration field values.
        created_at:
          type: string
          format: date-time
    RankingItem:
      type: object
      properties:
        id:
          type: string
        position:
          type: integer
          description: Current ranking position.
        participant:
          $ref: '#/components/schemas/Participant'
        properties:
          type: object
          properties:
            played:
              type: integer
            win:
              type: integer
            draw:
              type: integer
            loss:
              type: integer
            score_for:
              type: integer
            score_against:
              type: integer
            points:
              type: integer
    Error:
      type: object
      properties:
        message:
          type: string
          description: Error message.
        code:
          type: string
          description: Error code.
  responses:
    Unauthorized:
      description: Authentication failed — missing or invalid API key/token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key obtained from the Toornament developer dashboard.
    oauth2:
      type: oauth2
      description: OAuth2 access token with scoped permissions (organizer:view, organizer:admin).
      flows:
        authorizationCode:
          authorizationUrl: https://app.toornament.com/oauth/authorize
          tokenUrl: https://api.toornament.com/oauth/v2/token
          scopes:
            organizer:view: Read access to organizer tournament data.
            organizer:admin: Full administrative access to tournament management.
            participant:manage: Manage participant registrations.
